@import 'colors';
@import 'slider-animations';

.service-block {
    display: relative;

    .image {
        img {
            display: block;
        }
    }

    .title {
        background-color: rgba(0,0,0,.5);
        color: $white;
        font-size: 36px;
        bottom: 0;
        padding: 0.75rem 2rem;
        position: absolute;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        font-weight: 800;
        width: 100%;
        @media screen and (max-width: 980px) {
            font-size: 32px;
        }
        @media screen and (max-width: 640px) {
            font-size: 24px;
        }
    }
}

p.small {
    background-color: #efefef;
    font-size: 10px;
    line-height: 1.4;
    margin-top: -80px;
    padding: 2rem;
    position: relative;
}

.contact-info {
    p {
        color: $white;
        text-align: center;

        a {
            color: $white;
            text-decoration: underline;
        }
    }

    .mobile-hide {
        display: inline-block;
        padding: 0 1rem;
    }
    @media screen and (max-width: 980px) {
        p {
            text-align: left;
        }

        .mobile-hide {
            display: none;
        }

        .info {
            display: block;
        }
    }
}

.hbspt-form {

}

#main-header {
    .container {
        width: 90%;
    }
}

#footer {
    .et_pb_row {
        width: 90%;
    }
}

#top-menu {
    display: flex;
    @media screen and (max-width: 980px) {
        display: none;
    }
}

#logo {
    @media screen and (max-width: 980px) {
        max-height: 80%!important;
        height: 80%!important;
    }
}

#top-header {
    .container {
        width: 90%;
    }

    #et-info {
        float: right;
    }
}

#et-main-area {
    margin-top: 100px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
    box-shadow: 0 -5px 5px 5px rgba(0,0,0,.5);
    .header-wrapper {
        height: 150px;
        transition: height .3s;
        .header-left {
            img {
                height: 125px;
                width: auto;
                transition: height .3s;
            }
        }
    }
    .et_pb_fullwidth_menu .et_pb_menu__wrap, .et_pb_menu .et_pb_menu__wrap {
        justify-content: flex-end;
    }
    .header-wrapper {
        display: flex;
        width: 90%;
        .header-left {
            margin-bottom: 0;
        }
        .header-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .header-phone {
                a {
                    color: $yellow;
                    font-size: 36px;
                    opacity: 1;
                    position: relative;
                    transition: opacity .3s;
                    &::before {
                        content: '\e090';
                        font-family: 'ETModules';
                        font-size: 66%;
                        position: absolute;
                        left: 0;
                        transform: translateX(-110%);
                    }
                    &:hover {
                        opacity: .75;
                    }
                    @media screen and (min-width: 980px) {
                        font-size: 48px;
                    }
                    @media screen and (max-width: 640px) {
                        font-size: 24px;
                    }
                }
            }
        }
    }
    .mobile_menu_bar {
        &::after {
            color: $yellow;
            content: "MENU";
            font-weight: 700;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-100%, 0);
        }
    }
    #menu-main {
        a {
            font-size: 20px;
            font-weight: 700;

        }
    }
    &.stick {
        .header-wrapper {
            height: 100px;
            .header-left {
                img {
                    height: 70px;
                }
            }
        }
    }
    @media screen and (max-width: 980px) {
        .header-wrapper {
            height: 100px;
            .header-left {
                img {
                    height: 70px;
                }
            }
        }
    }
}
#wpadminbar {
    z-index: 999999;
}
.logged-in {
    header {
        top: 32px;
    }
}

#signs {
    .et_pb_blurb {
        .et_pb_main_blurb_image {
            margin-bottom: 0;
            position: relative;
            &::before {
                content: '';
                display: block;
                width: 0;
                height: 0;
                padding-top: 75%;
            }
            .et_pb_image_wrap {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                img {
                    max-height: 110%;
                }
            }
        }
        p {
            text-align: center;
        }
    }
}

div.pum-theme-lightbox div.pum-container {
    background-color: #efefef;
    border: none;
    .pum-content {
        p {
            font-family: 'Lato', Helvetica, Arial, sans-serif;
            font-weight: 400;
        }
    }
}

#fca_qc_quiz_611 {
    .fca_qc_your_answer_container, .fca_qc_score_text {
        display: none!important;
    }
}